<ion-header>
  <ion-toolbar>
    <div class="m-head-in">
      <ion-back-button [defaultHref]="defaultHref">
      </ion-back-button>
      <ion-title>{{ 'ADD_COMPLAINT' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class='m-add-outer'>
    <form [formGroup]="complaintForm" (submit)="addComplaint()">
      <div class="m-form-field">
        <ion-label>{{'NAME' | translate}}<span class="red">*</span></ion-label>
        <ion-item>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <div *ngIf="complaintForm.controls.name.touched">
          <span class="m-error" *ngIf="complaintForm.controls.name.hasError('required')">{{ 'NAME_REQUIRED' | translate}}</span>
        </div>
      </div>
      <div class="m-form-field">
        <ion-label>{{ 'PHONE' | translate}}<span class="red">*</span></ion-label>
        <ion-item>
          <ion-input formControlName="phone"></ion-input>
        </ion-item>
        <div *ngIf="complaintForm.controls.phone.touched">
          <span class="m-error" *ngIf="complaintForm.controls.phone.hasError('required')">{{ 'PHONE_REQUIRED' | translate}}</span>
          <span class="m-error" *ngIf="complaintForm.controls.phone.hasError('invalidPhone')">{{ 'INVALID_PHONE' | translate}}</span>
        </div>
      </div>
      <div class="m-form-field">
        <ion-label>{{ 'ADDRESS' | translate}}<span class="red">*</span></ion-label>
        <ion-item>
          <ion-textarea formControlName="address"></ion-textarea>
        </ion-item>
        <div *ngIf="complaintForm.controls.address.touched">
          <span class="m-error" *ngIf="complaintForm.controls.address.hasError('required')">{{ 'ADDRESS_REQUIRED' | translate}}</span>
        </div>
      </div>
      <div class="m-form-field">
        <ion-label>{{ 'NOTES' | translate }}</ion-label>
        <ion-item>
          <ion-textarea formControlName="notes" [placeholder]="'ENTER_MORE_INFO' | translate"></ion-textarea>
        </ion-item>
        <!-- <div *ngIf="complaintForm.controls.notes.touched">
          <span class="m-error" *ngIf="complaintForm.controls.notes.hasError('required')">Notes is required</span>
        </div> -->
      </div>
      <div class="m-form-field">
        <ion-item>
          <ion-label>{{ 'ADD_IMAGES' | translate }}<span class="red"></span></ion-label>
          <ion-icon name="add" (click)="selectImage()"></ion-icon>
        </ion-item>
        <div>
          <div class="img-wrap" *ngFor="let item of pictures; let i=index">
            <img class="m-comp-img" [src]="item" alt />
            <ion-icon class="close" name="close" (click)="deleteImage(i)"></ion-icon>
          </div>
        </div>
      </div>
      <div>
        <ion-button type="submit">{{ 'SUBMIT' | translate}}</ion-button>
      </div>
    </form>
  </div>
</ion-content>