<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774752946499-hhk16i1fq0fhv8pp3ta5dh1r8tqlbcts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774752946499-hhk16i1fq0fhv8pp3ta5dh1r8tqlbcts</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>774752946499-bfj1gf8h6r7fe10f7ij002cpc7ibfc76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj7JzZP1KdX_4dHZUiPcroLCxTULBkwAk</string>
	<key>GCM_SENDER_ID</key>
	<string>774752946499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palistreetlights.app</string>
	<key>PROJECT_ID</key>
	<string>meta-altar-272622</string>
	<key>STORAGE_BUCKET</key>
	<string>meta-altar-272622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774752946499:ios:270c124d26f034ea1c47f6</string>
	<key>DATABASE_URL</key>
	<string>https://meta-altar-272622.firebaseio.com</string>
</dict>
</plist>