<ion-header>
  <ion-toolbar>
    <div class="m-head-in">
      <ion-back-button defaultHref="/">
      </ion-back-button>
      <ion-title>{{'YOUR_COMPLAINTS' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="m-comp-list" *ngIf="complaints && complaints.length > 0; else noComplaints">
    <div *ngFor="let complaint of complaints" class="m-comp-single">
      <div (click)="goToDetail(complaint)"> 
        <span class="m-number">{{'COMPLAINT_NUMBER' | translate}}: <b>{{complaint.complaint_number}}</b></span>
        <span class="m-date">{{'DATE' | translate}}: <b>{{ complaint.date}}</b></span>
        <p>
          {{complaint.name}}
        </p>
        <span class="m-status">{{'STATUS' | translate}}: <b>{{complaint.status}}</b></span>
      </div>
    </div>
    <!-- <table>
      <thead>
        <th>Date</th>
        <th>Complaint No.</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of complaints">
          <td>{{item.date}}</td>
          <td (click)="goToDetail(item)">#{{item.complaint_number}}</td>
          <td>
            <span>
              <p class="m-status" [ngClass]="{'red': item.status == 'onhold', 'black': item.status == 'invalid', 'yellow': item.status == 'inprogress', 'green': item.status == 'completed'}">
                {{item.status}}
              </p>
            </span>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
  <ng-template #noComplaints>
    <p class="m-no-complaints">{{'NO_COMPLAINTS_AVAILABLE' | translate}}</p>
  </ng-template>
</ion-content>