table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: nowrap;
}

th, tr, td {
    text-align: center;
    border: 1px solid #E0E0E0;
    padding: 5px;
}

.m-status{
    color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.yellow{
    background-color: #dcba10;;
}

.green{
    background-color: green;
}
  