<ion-header>
  <ion-toolbar>
    <div class="m-logo">
      <ion-icon name="sunny"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <div class="m-body-outer">
    <div>
      <ion-button (click)="navigateTo('/add-complaint')"><ion-icon name="add"></ion-icon>
         {{'NEW_COMPLAINT' | translate}}</ion-button>
    </div>
    <div>
      <ion-button (click)="navigateTo('/complaint-listing')"><ion-icon name="eye"></ion-icon>
        {{'COMPLAINT_LIST' | translate}}</ion-button>
    </div>
    <!-- <div>
      <ion-button (click)="navigateTo('/my-profile')">  <ion-icon name="person"></ion-icon>
        {{'MY_PROFILE' | translate}}</ion-button>
    </div> -->
  </div>
</ion-content>