.m-head-in{
    display: flex;
    ion-back-button{
        color: #fff;
    }
    ion-title{
        padding: 0;
        color: #fff;
    }
}

.m-comp-single {
    padding: 10px;
    margin-top: 10px;
    span.m-date {
        float: right; 
    }
    .m-number{
        b{
            color: #3c6fbc;
        }
    }
}

.m-status{
    color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.yellow{
    background-color: #dcba10;;
}

.green{
    background-color: green;
}

.m-comp-images{
    display: flex;
    img{
        height: 100px;
        width : 100px;
        padding: 10px;
    }
}