.m-status{
    color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.yellow{
    background-color: #dcba10;;
}

.green{
    background-color: green;
}

.m-comp-images{
    img{
        height: 100px;
        width : 100px;
        padding: 10px;
    }
}