<ion-header>
  <ion-toolbar>
    <div class="m-head-in">
      <ion-back-button [defaultHref]="defaultHref">
      </ion-back-button>
      <ion-title>{{ 'MY_PROFILE' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="m-profile">
    <div class="m-profile-img">
      <div class="m-acc-head-img">
        <img src="../../../assets/icon/user.png" alt="">
      </div>
    </div>
    <div class="m-profile-detail">
      <div class="m-form-field">
        <ion-label>{{'NAME' | translate}}:</ion-label>
        <ion-item>
          <ion-input [value]="user.name" disabled></ion-input>
        </ion-item>
      </div>
      <div class="m-form-field">
        <ion-label>{{'EMAIL' | translate}}:</ion-label>
        <ion-item>
          <ion-input [value]="user.email" disabled></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
    <ion-button class="m-btn-logout"(click)="logout()">{{'LOGOUT' | translate}}</ion-button>
</ion-footer>