<ion-content>
    <div class="m-profile">
        <div class="m-profile-pic"></div>
        <div class="m-profile-detail">
          <div class="m-form-group">
            <ion-label>Name:</ion-label>
            <ion-item>
              <ion-input [value]="user.name" disabled></ion-input>
            </ion-item>
          </div>
          <div class="m-form-group">
            <ion-label>Email:</ion-label>
              <ion-item>
                <ion-input [value]="user.email" disabled></ion-input>
              </ion-item>
            </div>
        </div>
    </div>
</ion-content>
